/*
.name : class
#name : id
name : tags
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');
/* From google font, check options, 
copy @import setting part, and pastes in css top 
after copy font-family options to use, and paste it*/
@import "reset.css";    /*import reset.css to styles.css, 
so don't have to make more link at html */
@import "variables.css";
/*Compoents*/
@import "components/status-bar.css";    /*make a directory then define path*/

@import "components/nav-bar.css";

@import "components/screen-header.css";
/*Screens*/
@import "screens/login.css";
body{
    font-family: "Open Sans", sans-serif;
    height: 1000vh;
}