.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top:1px solid rgba(121, 121, 121, 0.3);
    position: fixed;    /*fix nav_bar*/
    bottom:0;           /*where to place it*/
    width: 100%;/*it might seperate from previous options,so give again width*/
    box-sizing: border-box; /*difference of padding size define again*/
    /*default at css, if box had a size but give a padding size then box increase size.*/
    /*so to tell css, don't want to modify box-size*/
}

.nav__list{
    display:flex;
    justify-content: space-between;
}

.nav_list{
    color :#2e363e;
}